<div id="top">
  <div id="topLeft">
    <img src="assets/logo.png" alt="logo" routerLink="/home">
    <h3>Vokabeltrainer</h3>
  </div>
</div>

<div class="all">
  <button [routerLink]="['/main']">Zurück</button>
  <h1>Nutzungsbedingungen und Datenschutzrichtlinien</h1>

  <div class="section">
    <h2>1. Willkommen beim besten Vokabeltrainer am Markt!</h2>
    <p>Hier verbinden wir Lernen mit Spaß. Mit dem Zugang zu unserer Plattform versprechen Sie, Ihr Bestes zu
      geben, neue Sprachen zu lernen, und wir versprechen, es so unterhaltsam wie möglich zu gestalten.</p>
  </div>

  <div class="section">
    <h2>2. Kontoerstellung</h2>
    <p>Um die volle Erfahrung unseres Vokabeltrainers genießen zu können, ist eine Registrierung notwendig:</p>
    <ul>
      <li><strong>Echtheit:</strong> Geben Sie echte Informationen an oder wählen Sie einen kreativen Alias, solange
        dieser familienfreundlich bleibt.
      </li>
      <li><strong>Passwortsicherheit:</strong> Wählen Sie ein starkes Passwort und teilen Sie es mit niemandem – nicht
        einmal mit uns!
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>3. Nutzungsregeln</h2>
    <ul>
      <li><strong>Fair Play:</strong> Jegliche Form von automatisierten Abfragen, Missbrauch der Plattform oder anderen
        unfairen Taktiken ist strengstens verboten. Seien Sie ein fairer Spieler im Spiel der Wörter.
      </li>
      <li><strong>Integrität bewahren:</strong> Bitte nutzen Sie unsere Dienste nur für den vorgesehenen Zweck – das
        Erlernen von Sprachen.
      </li>
      <li><strong>Respektvoller Umgang:</strong> Der Austausch mit anderen Nutzern sollte immer respektvoll und
        konstruktiv bleiben.
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>4. Lizenz zur Nutzung</h2>
    <p>Durch Ihre Anmeldung gewähren wir Ihnen eine persönliche, nicht übertragbare Lizenz zur Nutzung unserer Inhalte.
      Diese Lizenz ist speziell für Sie zugeschnitten – teilen Sie sie nicht mit anderen, es sei denn, es handelt sich
      um Hilfe beim Lernen.</p>
  </div>

  <div class="section">
    <h2>5. Datenschutz und Ihre Informationen</h2>
    <ul>
      <li><strong>Erhebung von Daten:</strong> Wir sammeln nur die Daten, die für die Erbringung unserer Dienste
        notwendig sind. Dies umfasst, aber ist nicht beschränkt auf, Ihren Namen und Ihre
        Fortschritte im Sprachenlernen.
      </li>
      <li><strong>Verwendung Ihrer Daten:</strong> Ihre Daten werden dazu genutzt, Ihren Fortschritt zu speichern und
        Ihnen wichtige Updates zu unserer Plattform zu senden.
      </li>
      <li><strong>Datenweitergabe:</strong> Keine Sorge, wir verkaufen Ihre persönlichen Daten nicht an Dritte.
        Ausnahmen könnten die Weitergabe an vertrauenswürdige Partner umfassen, die uns bei der Bereitstellung des
        Dienstes unterstützen, jedoch nur unter strengen Datenschutzauflagen.
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>6. Änderungen an den Nutzungsbedingungen und Datenschutzrichtlinien</h2>
    <p>Die Welt der Technologie und des Rechts ändert sich ständig, daher könnten auch diese Bedingungen gelegentlich
      angepasst werden.</p>
  </div>

  <div class="section">
    <h2>7. Beendigung der Nutzung</h2>
    <p>Wir können Ihre Nutzung von Wortwunder jederzeit beenden, wenn wir feststellen, dass
      Sie gegen diese Bedingungen verstoßen. Hoffentlich kommt es nie dazu!</p>
  </div>

  <div class="section">
    <h2>8. Haftungsausschluss</h2>
    <p>Obwohl wir uns größte Mühe geben, die Korrektheit und Aktualität unserer Inhalte sicherzustellen, können wir
      keine Garantie für deren Vollständigkeit übernehmen. Nutzen Sie unseren Vokabeltrainer auf eigene Gefahr.</p>
  </div>

  <div class="section">
    <h2>9. Rechtswahl und Gerichtsstand</h2>
    <p>Sollten Unstimmigkeiten entstehen, wird versucht, diese in gutem Glauben zu klären. Andernfalls unterliegt dieser
      Vertrag dem Recht des Landes, in dem unser Unternehmen seinen Sitz hat, Österreich.</p>
  </div>

  <div class="section">
    <h2>10. Kontakt</h2>
    <p>Bei Fragen oder Bedenken zu diesen Bedingungen kontaktieren Sie bitte unseren Kundenservice. Wir sind hier, um zu
      helfen!</p>
    <a href="mailto:vokabeltrainer.service@gmail.com">Kundenservice</a>
  </div>

  <div class="section">
    <h2>11. Mitwirkende</h2>
    <p>Ein herzliches Dankeschön an alle, die an der Entwicklung und Verbesserung mitgewirkt haben. Ohne
      eure Kreativität, euer Engagement und euren unermüdlichen Einsatz wäre dieser Vokabeltrainer nicht das, was er
      heute ist. Wir sind stolz darauf, mit einem so talentierten Team zusammenzuarbeiten und gemeinsam die Freude am
      Sprachenlernen zu fördern.</p>
    <a href="mailto:jakob.strassberger@htlstp.at">Jakob Straßberger</a>
    <br>
    <a href="mailto:jakob.redl@htlstp.at">Jakob Redl</a>
  </div>
</div>
