<div id="top">
  <div id="topLeft">
    <img src="assets/logo.png" alt="logo" routerLink="/home">
    <h3>Vokabeltrainer</h3>
  </div>
</div>
<button class="mode" [routerLink]="['/learn/', deck.id]" [disabled]="learnTest">Lernen</button>
<button class="mode" [routerLink]="['/test/', deck.id]" [disabled]="learnTest">Testen</button>
<div id="firstline"><h1>Deck bearbeiten</h1>
  <button class="red" [routerLink]="['/home']">Abbrechen</button>
</div>
<ng-container *ngIf="editAllowed">
  <form #newdeckForm="ngForm" (ngSubmit)="create()">
    <div class="form-group" id="sides">
      <div id="leftside">
        <input type="text" placeholder="Beschreibung" [(ngModel)]="deck.description" required name="beschreibung">
        <input type="text" placeholder="Sprache" [(ngModel)]="deck.language" required name="sprache">
        <button type="submit" [disabled]="!newdeckForm.form.valid">Deck speichern</button>
        <button class="red" *ngIf="isowner" (click)="delDeck()">Deck löschen</button>
      </div>
      <div id="rightside" *ngIf="isowner">
        <div id="edit">
          <label class="switch">
            <input type="checkbox" class="checkbox" [(ngModel)]="deck.editable" name="editable">
            <span class="slider"></span>
          </label>
          <p>Bearbeitbar für andere User</p>
        </div>
        <textarea type="text" name="textarea" placeholder="Teilen mit anderen Usern. Trennzeichen ;" id="share"
                  [(ngModel)]="shared"></textarea>
      </div>
    </div>
  </form>
  <hr>
  <h1>Karten bearbeiten</h1>
  <form #newcardForm="ngForm" (ngSubmit)="addCard()">
    <div id="newcard">
      <input type="text" placeholder="Front" name="front" required [(ngModel)]="newCard.front">
      <input type="text" placeholder="Back" name="back" required [(ngModel)]="newCard.back">
      <button type="submit" [disabled]="!newcardForm.form.valid">Karte Hinzufügen</button>
    </div>
  </form>
  <input id="file" type="file" (change)="onFileSelect($event)" accept=".csv">
  <button id="import" (click)="upload()">Von CSV importieren</button>
</ng-container><br>
<div id="forStatBtn">
  <button id="stat" (click)="resetStats()">Alle Statistiken zurücksetzen</button>
</div>
<ng-container *ngFor="let card of cardsStat">
  <app-flashcard-item *ngIf="resetVisibility" [card]="card" [stats]="card.stat" [editAllowed]="editAllowed"
                      [user]="currUser" (edit)="edit($event)" (delete)="delete($event)"></app-flashcard-item>
</ng-container>
